{% extends 'base.html'%}
{% block content %}

<h1>Dice in the box</h1>

{% for d in die_list %}
<div class="card">
    <a href="{% url 'die_detail' d.id %}">
        <div class="card-container">
            <span class="card-title"><i>{{d.text_color}}</i></span>
            <p>Sides: {{d.sides}}</p>
            {% if d.material == 'Brass' or d.material == 'Wood'%}
                <p>Material: <strong>{{d.material}}</strong></p>
            {% else %}
                <p>Material: {{d.material}}</p>
            {% endif %}
            <p>Color: {{d.color}}</p>
            <p>Text Color: {{d.text_color}}</p>
        </div>
    </a>
</div>
{% endfor %}
{% endblock%}