{% extends 'base.html' %}
{% block content %}

<h1>Dice Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{die.color}}</span>
    <p>Sides: {{die.sides}}</p>
    {% if die.material == 'Brass' or die.material == 'Wood'%}
        <p>Material: <strong>{{die.material}}</strong></p>
    {% else %}
        <p>Material: {{die.material}}</p>
    {% endif %}
    <p>Color: {{die.color}}</p>
    <p>Text Color: {{die.text_color}}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'die_update' die.id %}">Edit</a>
    <a href="{% url 'die_delete' die.id %}">Delete</a>
  </div>
</div>

{% endblock %}