{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Dice Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{die.color}}</span>
        <p>Sides: {{die.sides}}</p>
        {% if die.material == 'Brass' or die.material == 'Wood'%}
            <p>Material: <strong>{{die.material}}</strong></p>
        {% else %}
            <p>Material: {{die.material}}</p>
        {% endif %}
        <p>Color: {{die.color}}</p>
        <p>Text Color: {{die.text_color}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'die_update' die.id %}">Edit</a>
        <a href="{% url 'die_delete' die.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_result' die.id %}" method="POST"> 
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ rolls_form.as_p }}
      <input type="submit" class="btn" value="Add Roll">
    </form>
    <br>
    {% if die.rolled_today %}
      <div class="card-panel teal-text center-align">{{die.color}} has {{die.rolled_today}} rolls today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{die.color}} has not been rolled today</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Result</th></tr>
      </thead>
      <tbody>
        {% for roll in die.rolls_set.all %}
          <tr>
            <td>{{roll.date}}</td>
            <td>{{roll.get_result_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ die.text_color }}'s Conditions</h3>
    {% if die.condition.count %}
      {% for c in die.condition.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: {{ c.color }}">{{ c.color }}</span> {{ c.name }}
            </span>
          </div>
          <div class="card-actions">
            <form action="{% url 'remove_condition' die.id c.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{die.color}} has no Conditions <img class="thumb" src="https://em-content.zobj.net/thumbs/120/sony/336/thumbs-up_1f44d.png" alt=""></h5>
    {% endif %}
  </div>
<div class="col s6">
  <h3>Available Conditions</h3>
  {% if conditions_die_doesnt_have.count %}
    {% for c in conditions_die_doesnt_have.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span>{{c.name}}</span>
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_condition' die.id c.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
      <h5>{{die.color}} Already Has All Conditions</h5>
  {% endif %}
  </div>
</div>
<!-- Available toys will come after this line -->

<script src={% static 'js/cat_detail.js' %}></script>
{% endblock %}