{% extends 'base.html'%}
{% block content %}

<h1>Dice in the box</h1>

{% for d in die %}
<div class="card">
    <div class="card-container">
        <span class="card-title">{{d.name}}</span>
        <p>Sides: {{d.sides}}</p>
        {% if d.material == 'Brass' or d.material == 'Wood'%}
            <p>Material: <strong>{{d.material}}</strong></p>
        {% else %}
            <p>Material: {{d.material}}</p>
        {% endif %}
        <p>Color: {{d.color}}</p>
        <p>Text Color: {{d.text_color}}</p>
    </div>
</div>
{% endfor %}
{% endblock%}