body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 2 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

.thumb {
  height: 20px;
}